<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>Jokes About Us ( Programers XD)</h1>

    <ul>
        <li><a href="/">HOME</a></li>
        <li> <a href="/fav">Favorate Jokes</a> </li>
        <li> <a href="/random">random Jokes</a> </li>

    </ul>

    <main>
        <!-- <% resultsKey.forEach(item =>{ %>
            <p>
                <%=item.type%>
            </p>
            <p>
                <%=item.setup%>
            </p>
            <p>
                <%=item.punchline%>
            </p>


            <% }) %> -->
        <!-- <hr> -->
        <% resultsKey.forEach(item =>{ %>
            <p>
                <%=item.type%>
            </p>
            <p>
                <%=item.setup%>
            </p>
            <p>
                <%=item.punchline%>
            </p>
            <form action="/showAddFav" method="post">
                <input type="text" name="type" value="<%=item.type%>" style="display: none;">
                <br>
                <input type="text" name="setup" value="<%=item.setup%>" style="display: none;">
                <br>
                <input type="text" name="punchline" value="<%=item.punchline%>" style="display: none;">
                <br>


                <button>Add To my Joke</button>
            </form>
            <hr>


            <% }) %>


    </main>

</body>

</html>